{% extends "base_generic.html" %}
{% load static %}
{% block title %}
<title>Join meeting</title>
{% endblock %}

{% block content %}

<h1>Join meeting</h1>
<form action=" " method="post" enctype="multipart/form-data">
{% csrf_token %}
{{ form }}
</form>

<script type="text/javascript" src="https://unpkg.com/webcam-easy/dist/webcam-easy.min.js"></script>
<video id="webcam" autoplay playsinline width="640" height="480"></video>
<canvas id="canvas" class="d-none"></canvas>
<button onclick = "takepic()">SNAP!</button>
<script>
const webcamElement = document.getElementById('webcam');
const canvasElement = document.getElementById('canvas');
const myContext = canvasElement.getContext('2d');
const webcam = new Webcam(webcamElement, 'user', canvasElement);
webcam.start()
   .then(result =>{
      console.log("webcam started");
   })
   .catch(err => {
       console.log(err);
   });
function takepic(){
    var picture = webcam.snap();
    console.log(picture);
    document.getElementById('webcam').pause();
    let formTag = document.querySelector('form');
    document.querySelector('#id_image').value = picture.slice(22);
    formTag.submit();

    //picture.onload = () => myContext.drawImage(picture, 0, 0);
}

</script>
{% endblock %}